<table>
  <thead>
    <tr>
      <th width="4%">
        <div>
          <span>id</span>
          <div>
            <button><span nz-icon nzType="caret-up" nzTheme="outline"></span></button>
            <button><span nz-icon nzType="caret-down" nzTheme="outline"></span></button>
          </div>
        </div>
      </th>
      <th width="35%">
        <div>
          <span>nome</span>
          <div>
            <button><span nz-icon nzType="caret-up" nzTheme="outline"></span></button>
            <button><span nz-icon nzType="caret-down" nzTheme="outline"></span></button>
          </div>
        </div>
      </th>
      <th width="20%">
        <div>
          <span>email</span>
          <div>
            <button><span nz-icon nzType="caret-up" nzTheme="outline"></span></button>
            <button><span nz-icon nzType="caret-down" nzTheme="outline"></span></button>
          </div>
        </div>
      </th>
      <th width="">
        <div>
          <span>tipo</span>
          <div>
            <button><span nz-icon nzType="caret-up" nzTheme="outline"></span></button>
            <button><span nz-icon nzType="caret-down" nzTheme="outline"></span></button>
          </div>
        </div>
      </th>
      <th width="">
        <div>
          <span>Data de Cadastro</span>
          <div>
            <button><span nz-icon nzType="caret-up" nzTheme="outline"></span></button>
            <button><span nz-icon nzType="caret-down" nzTheme="outline"></span></button>
          </div>
        </div>
      </th>
      <th width="6%">
        <span>Ações</span>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="dataList.length > 0">
    <tr *ngFor="let pessoa of dataList">
      <td class="c_secundaria">{{ pessoa.id }}</td>
      <td class="c_primaria">{{ pessoa.nome }}</td>
      <td>{{ pessoa.email }}</td>
      <td>{{ pessoa.tipo == 1 ? "Admin" : "Usuário" }}</td>
      <td>{{ pessoa.created_at }}</td>
      <td>
        <div>
          <button title="Editar" id="editButton">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <button title="Apagar" id="deleteButton">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <span nz-icon [nzType]="'sync'" *ngIf="dataList.length == 0" [nzSpin]="true"></span>
</table>

