:host {
  width: 14.47vw;
  margin-left: 0.46vw;

  .btnCadastro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 0.28vw;
    transition: 0.2s;
    cursor: pointer;
    background-color: #41aa46;
    font-size: 1.45vh;

    * {
      background-color: inherit;
      font-size: 1.45vh;
      font-weight: 700;
    }

    &:hover {
      transition: 0.2s;
      background-color: #3fa33b;
    }

    span + span {
      margin-left: 6px;
    }
  }
}
