h2 {
    font-weight: 700;
    font-size: 2.69vh;
    color: #FFFFFF;
}

p{
    font-size: 10px;
    color: wheat;
}

::ng-deep .ngx-charts { 
    text{
        fill: #fff!important; 
    }
}

::ng-deep .chart-legend {
    color: white!important;
}

.chart-size {
    margin-top: 0;
    width: 100%;
    height: 300px;
}