#container {
  background: #1A1A1A;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
  height: 100%;

  h2 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: -45px;
  }
}

