<nz-alert
  *ngIf="alert.visible"
  class="alert"
  nzBanner
  [nzType]="alert.type"
  [nzMessage]="alert.message"
>
</nz-alert>

<div id="main">
  <section>
    <h1>MIGULE POINTS</h1>

    <form [formGroup]="formLogin">
      <!-- Recebendo o email do usuário -->
      <label class="ipt_text">
        <input
          type="text"
          [(ngModel)]="user.email"
          formControlName="email"
          required
        />
        <span>Email</span>
      </label>

      <!-- Recebendo a Senha do Usuário -->
      <label class="ipt_text">
        <input
          type="password"
          [(ngModel)]="user.senha"
          formControlName="senha"
          required
        />
        <span>Senha</span>
      </label>

      <label class="ipt_check">
        <input type="checkbox" class="ipt_check" />
        <span>Manter Conectado</span>
      </label>

      <button (click)="fazLogin()" type="submit" class="ipt_submit">
        <span *ngIf="loading" nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
        <span *ngIf="!loading" nz-icon nzType="login" nzTheme="outline"></span>
        LOGIN
      </button>
    </form>
  </section>
</div>
