<div id="main">
  <section>
    <h1>MIGULE POINTS</h1>
    <form action="">
      <!-- Recebendo o email do usuário -->
      <label class="ipt_text">
        <input type="text" required/>
        <span>Email</span>
      </label>

      <!-- Recebendo a Senha do Usuário -->
      <label class="ipt_text">
        <input type="password" required/>
        <span>Senha</span>
      </label>

      <label class="ipt_check">
        <input type="checkbox" class="ipt_check">
        <span>Manter Conectado</span>
      </label>

      <button (click)="fazLogin()" type="submit" class="ipt_submit">
        <span nz-icon nzType="login" nzTheme="outline"></span> LOGIN
      </button>
    </form>
  </section>
</div>
