<div class="container">
    <h2>ÚLTIMOS PONTOS</h2>
    <div class="contTable">
        <table class="pontos">
            <tbody>
                <tr class="ponto" *ngFor="let ponto of PONTOS ; index as i">
                    <td id="contBolinha"><div class="circ pontos-circulo-entrada"></div></td>
                    <td id="hora">{{ponto.dataEntrada.slice(10,16)}}</td>
                    <td id="data">{{ponto.dataEntrada.slice(0,10)}}</td>
                </tr>
                <tr class="ponto" *ngFor="let ponto of PONTOS ; index as i">
                    <td id="contBolinha"><div class="circ pontos-circulo-saida"></div></td>
                    <td id="hora">{{ponto.dataSaida.slice(10,16)}}</td>
                    <td id="data">{{ponto.dataSaida.slice(0,10)}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="batendoPonto([IDUSER])" type="submit" class="ipt_submit">
        <span *ngIf="loading" nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
        <span *ngIf="!loading" nz-icon nzType="login" nzTheme="outline"></span>
        BATER PONTO
    </button>
</div>