<div class="container">
    <h2>ÚLTIMOS PONTOS</h2>
    <div class="pontos" >
        <div class="ponto" *ngFor="let ponto of pontos ; index as i">
            <div *ngIf="ponto.status == 1" class="pontos-circulo-entrada"></div>
            <div *ngIf="ponto.status == 2" class="pontos-circulo-saida"></div>
            <h5>{{ponto.hora}}</h5>
            <h6>{{ponto.data}}</h6>
        </div>
    </div>
    <button (click)="batendoPonto([IDUSER])" type="submit" class="ipt_submit">
        <span *ngIf="loading" nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
        <span *ngIf="!loading" nz-icon nzType="login" nzTheme="outline"></span>
        BATER PONTO
    </button>
</div>