h2 {
    font-weight: 700;
    font-size: 2.69vh;
    color: #FFFFFF;
}

::ng-deep .ngx-charts { 
    text{
        fill: #fff!important; 
    }
}

::ng-deep .chart-legend {
    color: white!important;
}

::ng-deep .chart-legend > div {
    width: 100% !important;
    margin-left: 19rem;
}