<app-sidebar></app-sidebar>
<main>
  <app-header id="header">
    <h1>Página de Pessoas</h1>
    <p>Aqui você pode ver e cadastrar pessoas</p>
  </app-header>
  <div class="corpo">

    <div class="contFiltros">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Buscar Pessoas" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <app-tabela-pessoas></app-tabela-pessoas>
  </div>
</main>
