.sidebar {
  background: #1A1A1A;
  transition: all .5s ease;
  z-index: 1;
  width: 16vw;
  height: 100vh;
  box-shadow: 4.83811px 0px 19.3525px rgba(0, 0, 6, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .sidebar-nav {
      list-style: none;
  }
  .sidebar-nav-item {
      width: 0;
      height: 52px;
      border-top: 1px solid #4D4D4D;
      border-bottom: 1px solid #4D4D4D;

      margin-bottom: 15px;

      position: relative;
      top: 172px;

      .mini-square {
          position: absolute;
          width: 6px;
          height: 52px;
          background: #4D4D4D;
          left: 0;
          top: -1px;

      }

      .sidebar-text {
          position: absolute;
          left: 63px;
          top: 15px;
          color: #4D4D4D;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
      }

      .sidenav-item-icon {
          position: absolute;
          left: 23px;
          top: 19px;
      }
  }


  .sidebar-nav-item:hover {
      width: 100%;
      border-top: 1px solid #0062FF;
      border-bottom: 1px solid #0062FF;
      transition: all 0.5s ease;

      .mini-square {
          background: #0062FF;
          left: 15.8vw;
          transition: 0.5s;
      }

      .sidebar-text {
          color: #0062FF;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
      }
  }

}

.logout-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-item-bt {
  background-color: #0062FF;
  width: 10.71vw;
  height: 3.58vh;
  border-radius: 10px;
  border: none;

  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;



  .logout-text {
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding-left: 10px;
  }
}

.sidebar-decoration {
  opacity: 0.2;
  margin-top: 130px;
}
