.sidenav {
    background:#1A1A1A;
    transition: all .5s ease;
    z-index: 1;
    width: 18rem;
    height: 100vh;
    box-shadow: 4.83811px 0px 19.3525px rgba(0, 0, 6, 0.15);

    .logo-container{
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo{
            background: #fff;
        }

        .logo-text{
            color: aliceblue;
        }

    }

    .sidenav-decoration{
        margin-top: 430px;
        opacity: 0.2;
    }   
}