.sidebar {
    background:#1A1A1A;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100vh;
    box-shadow: 4.83811px 0px 19.3525px rgba(0, 0, 6, 0.15);

    .sidebar-nav{
        margin-top: 262px;
        margin-bottom: 150px;
        
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sidebar-nav-item {
        width: 100%;
        height: 52px;
        border: 1px solid #1A75FF;

        display: flex;
        flex-direction: row;
        align-items: center;

        position: relative;

        .mini-square{
            position: absolute;
            width: 6px;
            height: 52px;
            background: #0062FF;
            right: 0;
            
        }

        .sidenav-item-icon{
            padding-left: 23px;
            padding-right: 18px;
        }
    }


    .sidebar-decoration{
        margin-bottom: 149px;
        opacity: 0.2;
    } 
}