<div class="sidebar">

    <ul class="sidebar-nav">
        <li class="sidebar-nav-item" routerLink="/home-adm" routerLinkActive="active">
            <div class="mini-square"></div>

            <a class="sidebar-item-link">

                <span nz-icon nzType="home" nzTheme="fill" style="color: #4D4D4D" class="sidenav-item-icon"></span>
                <span class="sidebar-text">Home</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <div class="mini-square"></div>

                <div class="logout-section">
                  <button class="logout-item-bt" type="submit" routerLink="/">
                    <span nz-icon nzType="logout" nzTheme="outline" style="color: #fff; font-size: 20px;"></span>
                    <span class="logout-text">Logout</span>
                  </button>
                </div>

                <span nz-icon nzType="home" nzTheme="fill" style="color: #4D4D4D" class="sidenav-item-icon"></span>
                <span class="sidebar-text">Pessoas</span>
        </li>
    </ul>

    <div class="sidebar-decoration">
        <img src="../../../assets/Logo.svg" alt="">
    </div>
</div>
