<div id="main">
    <app-sidebar></app-sidebar>
    <main>
        <header>
            <h1>Hi, username.</h1>
            <p>bate seu ponto ae</p>
        </header>
        <div class="corpo">
            <div class="corpo-part1">
                <section>
                    <h1>HISTÓRICO DE HORAS TRABALHADAS</h1>
                </section>
                <section>
                    <h1>ÚLTIMOS PONTOS</h1>
                    <div class="pontos">

                    </div>
                    <button type="submit" class="ipt_submit">
                        <!--<span *ngIf="" nz-icon [nzType]="'sync'" [nzSpin]="true"></span>-->
                        <span *ngIf="" nz-icon nzType="login" nzTheme="outline"></span> BATER PONTO
                    </button>
                </section>
            </div>
            <div class="corpo-part2">
                <div class="sectiondate"></div>
            </div>
        </div>
    </main>
</div>