<div id="main">
    <app-sidebar></app-sidebar>
    <main>
        <app-header id="header">
          <h1>Hello, {{ user.nome }}!</h1>
          <p>Bate o ponto ai meliante</p>
        </app-header>
        <div class="corpo">
            <div class="corpo-part1">
                <section>
                    <app-grafico-user> </app-grafico-user>
                </section>
                <div class="section">
                    <app-bate-ponto-user></app-bate-ponto-user>
                </div>
            </div>
            <div class="corpo-part2">
                <app-calendario-user></app-calendario-user>
                <!-- <div class="sectiondate"></div> -->
            </div>
        </div>
    </main>
</div>
