#main {
    width: 100vw;
    height: 100vh;
    background: #1D2637;

    display: flex;
    overflow: hidden;
}

main {
    width: 100%;

    #header {
      h1 {
        font-weight: 700;
        font-size: 4vh;
        line-height: 3vh;
        color: #FFFFFF;
      }

      p {
        font-weight: 500;
        font-size: 2vh;
        line-height: 2vh;
        color: #FFFFFF;
      }
    }
}

.corpo {
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;

    .corpo-part1 {
        width: 45%;
        height: 100%;

        section {
            padding-top: 10%;
            margin-top: 15px;

            min-width: 80px;
            height: 40%;

            background: #1A1A1A;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            h1 {
                margin-top: -40px;
                text-align: center;
                color: white;
            }
        }

        .section{
            padding-top: 10%;
            margin-top: 15px;

            min-width: 80px;
            height: 40%;

            background: #1A1A1A;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            position: relative;

            padding-left: 10px;

            h1 {
                font-size: 18px;
                margin-top: -40px;
                text-align: start;
                color: white;
            }

            .pontos{
                height: 70%;
                overflow-y: hidden;

                .ponto{
                    background-color: #1f1f1f;
                    width: 97%;
                }
            }

            .ipt_submit {
                font-size: 15px;
                position: absolute;
                bottom: 8px;
                left: 15px;
                width: calc(100% - 30px);
            }
        }
    }

    .corpo-part2 {
        width: 45%;
        height: 100%;

        padding-top: 14px;
        padding-left: 20px;

        .sectiondate {

            min-width: 300px;
            height: 84%;

            background: #1A1A1A;
            border-radius: 10px;

            display: flex;
            align-items: center;
            position: relative;
        }
    }
}
